Source: maratona-fancy-tools
Section: misc
Priority: optional
Maintainer: Bruno César Ribas <bruno.ribas@unb.br>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0.1
Rules-Requires-Root: no
Vcs-Git: https://github.com/maratona-linux/maratona-fancy-tools.git
Vcs-Browser: https://github.com/maratona-linux/maratona-fancy-tools

Package: maratona-fancy-tools
Architecture: any
Multi-Arch: foreign
Depends: gjs, gir1.2-webkit2-4.1, gir1.2-gtk-3.0, gir1.2-glib-2.0, ffmpeg,
 ${misc:Depends}, ${shlibs:Depends}
Description: página de espera do Maratona-Linux
 Página de espera, que informa o usuário que a competição está sendo preparada,
 e que este não deve usar o computador.
 .
 O pacote também instala uma aplicação Web do GNOME Web (Epiphany) que pode ser
 acessada como uma aplicação tradicional.
